manifest {
  author = 'Dan Fornika'
  name = 'BCCDC-PHL/cluster-plasmids'
  version = '0.1.0'
  description = 'BCCDC-PHL Plasmid Clustering for CPO'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
}

params {
  profile = false
  cache = ''
  db = 'NO_FILE'
  bakta_db = '/data/ref_databases/bakta/latest-light'
  mash_distance_threshold = 0.01
  dotpath_wordsize = 100
  dotmatcher_windowsize = 100
  outdir = 'results'
}

profiles {
  conda {
     process.conda = "$baseDir/environments/environment.yml"
     if (params.cache){
       conda.cacheDir = params.cache
     }
  }
}

process {
  withName: extract_individual_plasmids { 
    cpus = 1
    memory = '500M'
  }
  withName: sketch_plasmid_db { 
    cpus = 8
    memory = '1G'
  }
  withName: pairwise_align { 
    cpus = 2
    memory = '250M'
  }
  withName: bakta {
    cpus = 8
    memory = '4G'
    conda = "$baseDir/environments/bakta.yml"
  }
}